# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
db.mysql
media/
staticfiles/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

.myapp/migrations/
